<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.O.G.S</title>
</head>
<body>
    <!-- navigation -->
    <header>
        <h1>
            <a href="/">D.O.G.S.</a>
        </h1>
        <nav>
            <!--Unordered list element-->
            <ul>
                <!-- List item element -->
                <li>
                    {{#if loggedIn }}
                    <button id="logout" class="btn-no-style">Logout</button>
                    <script defer src="/javascript/logout.js"></script>
                    {{else}}
                    <!-- Anchor element -->
                    <a href="/login">Login</a>
                    {{/if}}
                </li>
                <li>
                    <a href="#dog-facts">Dog Facts</a>
                </li>
                <li>
                    <a href="#about-us">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
            <main>
                {{{ body }}}
            </main>


    <!--"about-us" section-->
    <section id="about-us">
        <div class="flex-row">
            <h2 class="section-title primary-border">D.O.G.S. Mission Statement</h2>
            <p>D.O.G.S. was founded to help owners find a play mate for their 'fur babies'
                so that they can spend less time inside looking sad and more time finding 
                interaction in the world they live in.  
            </p>
        </div>
    </section>


    <!--"reach out" section-->
    <section id="reach-out" class="contact">
        <div class="flex-row">
            <h2 class="section-title secondary-border">Reach Out</h2>
        </div>
        <br />
        <div class="contact-info">
            <div>
                <h3>D.O.G.S.</h3>
                <p>Any questions or concerns before signing up?
                    <br />
                    Let us know and we'll be happy to talk to you!
                </p>
                <address>
                    55 Main Street <br />
                    Gonzales, LA <br />
                    70737<br />
                    P: 555.DOG.LOVE (555.)<br />
                    E: <a href="mailto:info@dogsocial.io">info@dogsocial.io</a>
                </address>
            </div>

            <div class="contact-form">
                <h3> Contact Us</h3>
                <form>
                    <label for="contact-name">Your Name</label>
                    <input type="text" id="contact-name" placeholder="Your Name" />

                    <label for="contact-message">Message</label>
                    <textarea id="contact-message"> "Message"</textarea>

                    <button type="submit">Submit</button>
                </form>
            </div>



            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13666.369085721442!2d-97.7134076669876!3d31.093266604205333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86454bdbc5dce419%3A0xc4aceff8a85e53cf!2s3401%20Beagle%20Ct%2C%20Killeen%2C%20TX%2076543!5e0!3m2!1sen!2sus!4v1601174518060!5m2!1sen!2sus"
                    frameborder="0" style="border:0;" allowfullscreen="">
                </iframe>
            </div>
        </div>
    </section>



    <!-- footer -->
    <footer>
        <h2> Made by Team 6.</h2>
        <div>
            &copy; 2021 D.O.G.S., Inc.
        </div>
    </footer>

</body>

</html>