<!--<div>You are on the homepage</div>-->

    {{#unless loggedIn}}
    <!--Sign Up section-->
    <section class="sign-up">
        <!--Sign Up dog picture-->
        <div>
            <img src="images/hero-dog-pic.jpg" alt="D.O.G.S." />
        </div>
        <!--Sign Up Form-->
        <div>
            <form class="sign-up-form">
                <h3>Join the Pack!</h3>
                <br />
                <label for="email">Enter email address</label>
                <input type="email" placeholder="Email Address" name="email" id="email" class="form-input" />

                <label for="name">Pick a username:</label>
                <input type="text" placeholder="username" name="username" id="username" class="form-input" />

                <label for="password">Enter a password:</label>
                <input type="text" placeholder="at least 8 characters" name="password" id="password"
                    class="form-input" />

                <button type="submit">
                    Let's Go!
                </button>
            </form>
        </div>
    </section>
    <!--end sign up section-->


    <!--"Dog Facts" section"-->
    <section id="dog-facts" class="intro">
        <div class="flex-row">
            <h2 class="section-title secondary-border"> Why Your Dog Needs a Playdate</h2>
        </div>

        <!--Dog Fact One-->

         <article class="dog-fact">
            <div class="dog-img">
                <div>
                    <h3>Dogs are Pack Animals</h3>
                </div>
            </div>
            <div class="fact-info">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga nobis qui mollitia esse laudantium officiis, amet perferendis adipisci eaque incidunt tempore deleniti quasi ad sed quam saepe doloremque sint iste!
                </p>
            </div>  
        </article>

        <!--Dog Fact Two -->

        <article class="dog-fact">
            <div class="dog-img">
                <div>
                    <h3>Dogs Need Excercise</h3>
                </div>
            </div>
            <div class="fact-info">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga nobis qui mollitia esse laudantium officiis, amet perferendis adipisci eaque incidunt tempore deleniti quasi ad sed quam saepe doloremque sint iste!
                </p>
            </div>  
        </article>

        <!-- Dog Fact Three -->

        <article class="dog-fact">
            <div class="dog-img">
                <div>
                    <h3>Dogs Need Socialization</h3>
                </div>
            </div>
            <div class="fact-info">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga nobis qui mollitia esse laudantium officiis, amet perferendis adipisci eaque incidunt tempore deleniti quasi ad sed quam saepe doloremque sint iste!
                </p>
            </div>  
        </article>

        <!-- Dog Fact Four -->

        <article class="dog-fact">
            <div class="dog-img">
                <div>
                    <h3>Dogs Get Destructive When Lonely</h3>
                </div>
            </div>
            <div class="fact-info">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga nobis qui mollitia esse laudantium officiis, amet perferendis adipisci eaque incidunt tempore deleniti quasi ad sed quam saepe doloremque sint iste!
                </p>
            </div>  
        </article>

    </section>
    {{/unless}}

<div class="chat-container">
  {{!-- chat box --}}
<div id="message-container"></div>
  <form id="send-container">
    <input type="text" id="message-input">
    <button type="submit" id="send-button">Send</button>
  </form>
</div>
{{!-- /chat box --}}
<script defer src="http://localhost:3001/socket.io/socket.io.js"></script>
<script defer src="javascript/chat-script.js"></script>