<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.O.G.S</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<form class="login-form form">
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />

        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
  
        <button type="submit">Let's Go!</button>
</form>

<script src="/javascript/login.js"></script>