.service-grid-container {
  background: #35A7FF;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr repeat(2, 4fr);
  grid-template-rows: repeat(5, 1fr) 2fr;
  border: 2px solid grey;
  color: #B4654A;
  font-size: 1.2rem;
}

.service-grid-item {

   padding: 15px 0;
   border: 2px solid #35A7FF;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.service-grid-item.basic {
    grid-column: 2 / span 1;
}

.service-grid-item.both {
    grid-column: 2/ span 2;
}

.service-grid-item.cancel {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    grid-column: 1;
    grid-row: 1 / -1;

}

.grid-head, .grid-price, .service-grid-item.cancel {
    font-size: 1.5rem;
    font-weight: bold;
}

/*:root{
    --primary-color: orange;
    --secondary-color: darkgreen;
    --tertiary-color: grey;
}*/

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100;
        text-align: center;
        
    }

    header nav ul li a {
        font-size: 20px;
        
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;  
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .contact-info iframe{
        flex: 1 100%;
    }

    .service-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .service-grid-item.basic {
        grid-column: 1 / -1;
    }

    .service-grid-item.cancel {
        transform: none;
        writing-mode: 1 / -1;
        grid-row: -1;
    }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
 
    .hero-form button {
        width: 100%
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*body {

    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
}*/

header {
    padding: 20px 35px;
    background-color: #4daa57;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #B4654A;
    text-shadow: 0 0 10px #e7e5e5;
   
    
}

header a {
    text-decoration: none;
    color: #B4654A;
}

header nav {

    margin: 7px 0;
}


header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px #e7e5e5;
}

header nav ul li a:hover {
    background: grey;
    color: #4daa57;
    border-radius: 15px;
    text-shadow: none;   
}

footer {
    padding: 20px 35px;
    background-color: #4daa57;
    display: flex;
    justify-content:  space-between;
    flex-wrap: wrap;
}

footer h2 {
    
    color: #B4654A;
    font-size: 30px;
    margin: 0;
}

footer div {
   
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #35A7FF;
}

section {
    padding: 60px;
}

/*Hero Style Start*/
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;

    
}
/*Hero Style End*/

.hero-cta {
    width: 65%;
    text-align: center;
    margin: 3.5%;
    color: #E7E5E5;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #4daa57;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*.hero-form {
    border: 3px solid #ff101f;
    background-color: #B4654A;
    padding: 20px;
    color: #35a7ff;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;  
}*/

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.hero-form label {
    margin: 0 5px;
}

.form-input {
    border: 1px solid #35A7FF;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #35A7FF;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgba(255, 255,255, 0.75);
}

.form-input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.checkbox-wrapper input, .radio-wrapper input {
    opacity: 0;
}

.checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: #e7e5e5;
    border: 1px solid #ff101f;
    position: absolute;
    top: -4px;
    left: -30px;
}

.radio-wrapper label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: skyblue;
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, #39a6b2, #024e76);
}

.checkbox-wrapper label::after {
    content:"";
    height: 6px;
    width: 14px;
    border-left: 2px solid #35A7FF;
    border-bottom: 2px solid #35A7FF;
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
}

.checkbox-wrapper input + label::after,
.radio-wrapper input + label::after {
    content: none;
}

.checkbox-wrapper input:checked + label::after, 
.radio-wrapper input:checked + label::after {
    content:"";
}

.hero-form button {
    color: #b4654a;
    background-color: #b4654a;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
}

/*.steps {
    background: #fce138;
}*/

.section-title {
    font-size: 48px;
    color: #35a7ff; 
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;   
}

/*.primary-border {
    border-color: #fce138;
}*/

.secondary-border {
    border-color: #39a6b2;
}

.intro p {
    line-height: 1.7;
    color: #4daa57;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.step:not(:last-child) {
    border-bottom: 1px solid #39a6b2;
}

.step h3 {
    color: #b4654a;
    font-size: 46px;
    flex: 1 30%;
}

.step-info {
    display: flex;
    flex: 2 70%;
    flex-wrap: wrap;
    align-items: center;

}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.step-img img {
    max-width: 100%;
}

.step-text {
    flex: 12;
}

.step-text p {
    color: #39a6b2;
    font-size: 18px;
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #b4654a;
}

/*.step:last-child {
    border-bottom: 1px solid #39a6b2;
}*/

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.contact {
    background: #35a7ff;
}

.contact h2 {
    color: #b4654a
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info iframe {
    
    height:400px;
}

.contact-info div {
   
    color: #e7e5e5;
}

.contact h3 {
    color: #b4654a;
    font-size: 32px;
}

.contact p, .contact address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-form input, .contact-form textarea {
    border: 1px solid #ff101f;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #ff101f;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 15px;
    background-color: #e7e5e5;

}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: #e7e5e5;
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: #b4654a;
    color: #ff101f;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 15px;
}

.contact a {
    color: #ff101f;
}

.flex-row {
    display: flex;
}

/* SERVICE STYLES BEGIN */
/*.services {
    background: #fce138;
}*/

/*.service-grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}*/

.hero-form button:hover {
    background-color: #39a6b2;
}

.contact-form button:hover {
    color: slategrey;
    background: #39a6b2;
}

div {
    color: #4daa57;
    font-size: 20px;
    transition-duration: 2s;
    
}

div:hover {
    font-size: 30px;
    color: #b4654a;
}




